dist/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.vscode/*
!.vscode/extensions.json
!.vscode/settings-suggestions.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
