:host {
  font-family: var(--mio-font-family);
  background: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-container {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 4px;
  border: 1px solid var(--mio-viewer-base-border);
  background: var(--mio-viewer-base-white);
}

#content-container {
  display: flex;
  flex-flow: column nowrap;
  flex-wrap: nowrap;
  padding: 24px;
  padding-top: 50px;
}

#closeLogo {
  align-self: end;
  cursor: pointer;
  position: absolute;
  margin: 24px;
  height: 15px;
  user-select: none;
}

#footer {
  display: flex;
  justify-content: end;
  border-top: 1px solid var(--mio-viewer-base-border);
  padding: 16px 8px 24px 8px;
  margin-inline: 16px;
}

button {
  font-family: var(--mio-font-family);
  justify-self: end;
  color: var(--mio-viewer-text-white);
  background: var(--mio-viewer-base-interactive);
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
