:host {
  display: block;
  font-family: var(--mio-font-family);
}
#heading {
  margin-left: 5%;
  width: 90%;
  margin-top: 2.5%;
  border-bottom: 1px solid var(--mio-viewer-base-border);
}
#category {
  color: var(--mio-viewer-text-paragraph_secondary);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0.5%;
}
#headingName {
  color: var(--mio-viewer-text-title);
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0.5%;
}
#status {
  display: inline-flex;
  border-radius: 12px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background: var(--mio-viewer-base-note);
  margin-bottom: 0.5%;
}
#recordDate {
  color: var(--mio-viewer-text-paragraph_secondary);
  padding-bottom: 0.5%;
}

#body {
  margin-top: 2.5%;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 2.5%;
}

.code-entry {
  display: flex;
}

.code-description {
  color: var(--mio-viewer-text-paragraph_secondary);
}

.code-text {
  padding-left: 5px;
  color: var(--mio-viewer-text-paragraph_primary);
  font-weight: 700;
}

.code-status {
  margin-left: 5px;
  display: inline-flex;
  border-radius: 12px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background: var(--mio-viewer-base-confirmation);
  color: var(--mio-viewer-text-white);
}

#start-ende {
  margin-bottom: 2.5%;
}
